span.icon {
    display: inline-block;
    width: 1rem;
    min-width: 1rem;
    height: 1rem;
    min-height: 1rem;
    background: var(--primary);
    mask-repeat: no-repeat;
}

button:has(>span.icon) {
    width: 1.75rem;
    height: 1.75rem;
    padding: 0.375rem;
    border: none;
    text-align: center;
    justify-content: center;
    align-items: center;
}

span.big.icon {
    width: 1.5rem;
    min-width: 1.5rem;
    height: 1.5rem;
    min-height: 1.5rem;
}

button:has(>span.big.icon) {
    width: 2.25rem;
    height: 2.25rem;
}

span.icon+span.sub-icon {
    display: inline-block;
    position: absolute;
    width: 0.5rem;
    height: 0.5rem;
    min-width: 0.5rem;
    min-height: 0.5rem;
    mask-repeat: no-repeat;
    background: var(--primary);
}

span.icon+span.sub-icon.bottom-right {
    transform: translate(-0.3rem, 0.6rem);
}
span.icon+span.sub-icon.bottom-left {
    transform: translate(-1.2rem, 0.6rem);
}
span.icon+span.sub-icon.top-right {
    transform: translate(-0.3rem, -0.2rem);
}
span.icon+span.sub-icon.top-left {
    transform: translate(-1.2rem, -0.2rem);
}

span.big.icon+span.sub-icon.bottom-right {
    transform: translate(-0.5rem, 1rem);
}
span.big.icon+span.sub-icon.bottom-left {
    transform: translate(-1.7rem, 1rem);
}
span.big.icon+span.sub-icon.top-right {
    transform: translate(-0.3rem, -0.2rem);
}
span.big.icon+span.sub-icon.top-left {
    transform: translate(-1.7rem, -0.2rem);
}

span.icon.search, span.sub-icon.search {
    mask-image: url('data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2010%2010%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20style%3D%22fill-rule%3Aevenodd%3Bclip-rule%3Aevenodd%3Bstroke-linecap%3Asquare%3Bstroke-miterlimit%3A2%3Bstroke%3A%23ffffff%3B%22%3E%3Cpath%20d%3D%22M4.086%2C1.965C4.745%2C1.965%205.334%2C2.266%205.723%2C2.737C6.026%2C3.104%206.208%2C3.574%206.208%2C4.086C6.208%2C4.672%205.97%2C5.202%205.586%2C5.586C5.202%2C5.97%204.672%2C6.208%204.086%2C6.208C3.501%2C6.208%202.971%2C5.97%202.587%2C5.586C2.203%2C5.202%201.965%2C4.672%201.965%2C4.086C1.965%2C3.492%202.21%2C2.954%202.605%2C2.569C2.987%2C2.195%203.51%2C1.965%204.086%2C1.965Z%22%20style%3D%22fill%3Anone%3Bstroke%3A%23ffffff%3Bstroke-width%3A1px%3B%22%20/%3E%3Cpath%20d%3D%22M8.035%2C8.035L5.586%2C5.586%22%20style%3D%22fill%3Anone%3Bstroke%3A%23ffffff%3Bstroke-width%3A1px%3B%22%20/%3E%3C/svg%3E');
}

span.icon.home, span.sub-icon.home {
    mask-image: url('data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2010%2010%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20style%3D%22fill-rule%3Aevenodd%3Bclip-rule%3Aevenodd%3Bstroke-linecap%3Asquare%3Bstroke-miterlimit%3A3%3Bstroke%3A%23ffffff%3B%22%3E%3Cpath%20d%3D%22M2.658%2C3.271L2.658%2C7.622L7.342%2C7.622L7.342%2C3.271%22%20style%3D%22fill%3Anone%3Bstroke%3A%23ffffff%3Bstroke-width%3A1px%3B%22%20/%3E%3Cpath%20d%3D%22M1.876%2C3.271L5%2C1.855L8.124%2C3.271%22%20style%3D%22fill%3Anone%3Bstroke%3A%23ffffff%3Bstroke-width%3A1px%3B%22%20/%3E%3C/svg%3E');
}

span.icon.right_arrow, span.sub-icon.right_arrow {
    mask-image: url('data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2010%2010%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20style%3D%22fill-rule%3Aevenodd%3Bclip-rule%3Aevenodd%3Bstroke-linecap%3Asquare%3Bstroke-miterlimit%3A1.5%3Bstroke%3A%23ffffff%3B%22%3E%3Cpath%20d%3D%22M3.7%2C8.232L6.3%2C5L3.7%2C1.768%22%20style%3D%22fill%3Anone%3Bstroke%3A%23ffffff%3Bstroke-width%3A1px%3B%22%20/%3E%3C/svg%3E');
}

span.icon.x, span.sub-icon.x {
    mask-image: url('data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2010%2010%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20style%3D%22fill-rule%3Aevenodd%3Bclip-rule%3Aevenodd%3Bstroke-linecap%3Asquare%3Bstroke-miterlimit%3A2%3Bstroke%3A%23ffffff%3B%22%3E%3Cpath%20d%3D%22M2.579%2C7.421L7.421%2C2.579%22%20style%3D%22fill%3Anone%3Bstroke%3A%23ffffff%3Bstroke-width%3A1px%3B%22%20/%3E%3Cpath%20d%3D%22M2.579%2C2.579L7.421%2C7.421%22%20style%3D%22fill%3Anone%3Bstroke%3A%23ffffff%3Bstroke-width%3A1px%3B%22%20/%3E%3C/svg%3E');
}

span.icon.left_arrow, span.sub-icon.left_arrow {
    mask-image: url('data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2010%2010%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20style%3D%22fill-rule%3Aevenodd%3Bclip-rule%3Aevenodd%3Bstroke-linecap%3Asquare%3Bstroke-miterlimit%3A1.5%3Bstroke%3A%23ffffff%3B%22%3E%3Cpath%20d%3D%22M6.3%2C1.768L3.7%2C5L6.3%2C8.232%22%20style%3D%22fill%3Anone%3Bstroke%3A%23ffffff%3Bstroke-width%3A1px%3B%22%20/%3E%3C/svg%3E');
}

span.icon.tick, span.sub-icon.tick {
    mask-image: url('data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2010%2010%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20style%3D%22fill-rule%3Aevenodd%3Bclip-rule%3Aevenodd%3Bstroke-linecap%3Asquare%3Bstroke-miterlimit%3A2%3Bstroke%3A%23ffffff%3B%22%3E%3Cpath%20d%3D%22M1.947%2C5.668L4.06%2C7.415L8.053%2C2.585%22%20style%3D%22fill%3Anone%3Bstroke%3A%23ffffff%3Bstroke-width%3A1px%3B%22%20/%3E%3C/svg%3E');
}

span.icon.plus, span.sub-icon.plus {
    mask-image: url('data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2010%2010%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20style%3D%22fill-rule%3Aevenodd%3Bclip-rule%3Aevenodd%3Bstroke-linecap%3Asquare%3Bstroke-miterlimit%3A2%3Bstroke%3A%23ffffff%3B%22%3E%3Cpath%20d%3D%22M5%2C8.233L5%2C1.767%22%20style%3D%22fill%3Anone%3Bstroke%3A%23ffffff%3Bstroke-width%3A1px%3B%22%20/%3E%3Cpath%20d%3D%22M1.767%2C5L8.233%2C5%22%20style%3D%22fill%3Anone%3Bstroke%3A%23ffffff%3Bstroke-width%3A1px%3B%22%20/%3E%3C/svg%3E');
}

span.icon.down_arrow, span.sub-icon.down_arrow {
    mask-image: url('data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2010%2010%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20style%3D%22fill-rule%3Aevenodd%3Bclip-rule%3Aevenodd%3Bstroke-linecap%3Asquare%3Bstroke-miterlimit%3A1.5%3Bstroke%3A%23ffffff%3B%22%3E%3Cpath%20d%3D%22M1.768%2C3.7L5%2C6.3L8.232%2C3.7%22%20style%3D%22fill%3Anone%3Bstroke%3A%23ffffff%3Bstroke-width%3A1px%3B%22%20/%3E%3C/svg%3E');
}

span.icon.trash, span.sub-icon.trash {
    mask-image: url('data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2010%2010%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20style%3D%22fill-rule%3Aevenodd%3Bclip-rule%3Aevenodd%3Bstroke-linecap%3Asquare%3Bstroke-miterlimit%3A3%3Bstroke%3A%23ffffff%3B%22%3E%3Cpath%20d%3D%22M2.973%2C3.827L2.973%2C7.967L7.027%2C7.967L7.027%2C3.827%22%20style%3D%22fill%3Anone%3Bstroke%3A%23ffffff%3Bstroke-width%3A1px%3B%22%20/%3E%3Cpath%20d%3D%22M2.375%2C2.428L7.625%2C2.428%22%20style%3D%22fill%3Anone%3Bstroke%3A%23ffffff%3Bstroke-width%3A1px%3B%22%20/%3E%3Cpath%20d%3D%22M5.676%2C6.657L5.676%2C3.827%22%20style%3D%22fill%3Anone%3Bstroke%3A%23ffffff%3Bstroke-width%3A1px%3B%22%20/%3E%3Cpath%20d%3D%22M4.324%2C6.657L4.324%2C3.827%22%20style%3D%22fill%3Anone%3Bstroke%3A%23ffffff%3Bstroke-width%3A1px%3B%22%20/%3E%3C/svg%3E');
}

span.icon.up_arrow, span.sub-icon.up_arrow {
    mask-image: url('data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2010%2010%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20style%3D%22fill-rule%3Aevenodd%3Bclip-rule%3Aevenodd%3Bstroke-linecap%3Asquare%3Bstroke-miterlimit%3A1.5%3Bstroke%3A%23ffffff%3B%22%3E%3Cpath%20d%3D%22M8.232%2C6.3L5%2C3.7L1.768%2C6.3%22%20style%3D%22fill%3Anone%3Bstroke%3A%23ffffff%3Bstroke-width%3A1px%3B%22%20/%3E%3C/svg%3E');
}

span.icon.filter, span.sub-icon.filter {
    mask-image: url('data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2010%2010%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20style%3D%22fill-rule%3Aevenodd%3Bclip-rule%3Aevenodd%3Bstroke-linecap%3Asquare%3Bstroke-miterlimit%3A3%3Bstroke%3A%23ffffff%3B%22%3E%3Cpath%20d%3D%22M7.762%2C3.38L5%2C6.395L2.238%2C3.38L2.238%2C2.191L7.762%2C2.191L7.762%2C3.38Z%22%20style%3D%22fill%3Anone%3Bstroke%3A%23ffffff%3Bstroke-width%3A1px%3B%22%20/%3E%3Cpath%20d%3D%22M5%2C6.395L5%2C7.719%22%20style%3D%22fill%3Anone%3Bstroke%3A%23ffffff%3Bstroke-width%3A1px%3Bstroke-miterlimit%3A2%3B%22%20/%3E%3C/svg%3E');
}

span.icon.minus, span.sub-icon.minus {
    mask-image: url('data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2010%2010%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20style%3D%22fill-rule%3Aevenodd%3Bclip-rule%3Aevenodd%3Bstroke-linecap%3Asquare%3Bstroke-miterlimit%3A2%3Bstroke%3A%23ffffff%3B%22%3E%3Cpath%20d%3D%22M1.576%2C5L8.424%2C5%22%20style%3D%22fill%3Anone%3Bstroke%3A%23ffffff%3Bstroke-width%3A1px%3B%22%20/%3E%3C/svg%3E');
}

span.icon.heart, span.sub-icon.heart {
    mask-image: url('data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2010%2010%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20style%3D%22fill-rule%3Aevenodd%3Bclip-rule%3Aevenodd%3Bstroke-linecap%3Asquare%3Bstroke-miterlimit%3A2%3Bstroke%3A%23ffffff%3B%22%3E%3Cpath%20d%3D%22M5%2C2.975C5.757%2C2.218%206.987%2C1.987%207.744%2C2.744C8.502%2C3.502%208.502%2C4.731%207.744%2C5.489L5%2C8.233L2.256%2C5.489C1.498%2C4.731%201.498%2C3.502%202.256%2C2.744C3.013%2C1.987%204.243%2C2.218%205%2C2.975Z%22%20style%3D%22fill%3Anone%3Bstroke%3A%23ffffff%3Bstroke-width%3A1px%3B%22%20/%3E%3C/svg%3E');
}

